$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import mixins;

.row {
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
  padding: 100px, 0;
}

.limit {
  max-width: 550px;
}

.list {
  background-color: #edf8f8;
}

.nounderline {
  text-decoration: none !important;
}

header {
  background-image: url('../assets/images/blackboard.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: white;
  .intro-text {
    padding: 100px, 0, 50px, 0;
  }
}
